<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>CyberSophie</title>
</head>
<body>
<form action="/complete" method="post"> {% csrf_token %}
    <div style="margin:10px 10px 10px 10px">
        {% for q in questions %}
            <div>
                <div>
                    {{ q }}
                </div>
                {% if q.isLibre %}
                    <input type="text" name="{{ q.id }}"/>
                {% else %}
                    {% for c in choix %}
                         {% if c.question == q %}
                            <div>
                                <input type="radio" name="{{ q.id }}" value="{{ c.id }}"> {{ c.valeur }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            <br/>
        {% endfor %}
        </div>
    <input type="submit" value="Valider">
    </form>
</body>
</html>